body{
 	width: 100%;
 	margin: 0 auto;
}

 .top{
    background-color: #ff5959;
    padding: 1%;
    overflow: hidden;
 }
.logo{
	float: left;
    margin-left: 10%;
    position: static;
     
}
.logo img {
	position: absolute;
	
}
.menu{
	float: right;
    margin:  0 10% 0 2%;
    position: static;
     
	
}
.menu ul{
	padding-left: 0px;
}
.menu li{ 
	font-size: 18px;
    padding: 0 10px;
    list-style-type: none;
    display: inline-block;
    
 }
.menu li>a{
	text-decoration: none;
	color: #fff;
}
.menu li:hover { 
	font-size: 18px;
    padding: 0 10px;
    display: inline-block;
    white-space:nowrap;
    list-style-type: none;
    background-color:#BD1616;
    border-radius: 10px;
    border-color: yellow;

 }

.text{
	font-family: sans-serif;
    font-size: 30px;
	text-align:center; 
	position: relative;
	color: #fff;
    text-align: center;
}
.subtext{
	font-size: 16px;
	color: #fff;
	text-align: center;
}

.slider{
	margin: 0 10%;
  padding: 5%;

}

.slider img {	
	
	max-width: 100%

}
.btns{
    margin: 20% 0 10% 0;
    padding: 0 5%;
    float: left;
}
button{
    width: 150px;
    background-color: #ff5959;
    color: #000;
    border-radius: 10px;
    border-width: 1px;
    margin: 20px;
    padding: 10px;
    position: relative;
    border-color: red;
}
button:active{
    width: 150px;
    background-color: #fff;
    border-radius: 10px;
    border-width: 1px;
    box-shadow: 5px #f0f0f0;
    margin: 20px;
    padding: 10px;
    position: relative;
    border-color:none; 

}
button:last-child{
	background-color: #fff;
}
button:last-child:hover{
	background-color: #ff5959;
	color: #000;
}
.our_service{
     
	background-color: #f0f0f0;
}
.title  {
    margin: 0 10%;
    font-size: 30px;
    color: #000;
    padding: 5%;
    padding-bottom: 10px;
    text-align: center;
}
 .title_red {
    margin: 0 10%;
    font-size: 30px;
    color: #fff;
    padding: 5%;
    padding-bottom: 10px;
    text-align: center;
}

.separator {
line-height: 0.5;
text-align: center;
padding-bottom: 20px;
}
.separator span{
  display: inline-block;
  position: relative;
}

.separator span:after {
  content: "";
  position: absolute;  
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  top: 0;
  width: 600px;
}
.separator span:before {
  content: "";
  position: absolute;  
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  top: 0;
  width: 600px;
}
.separator span:before {
   width: 150px;
  right: 100%;
  margin-right: 15px; 
  border-color: grey;
}
.separator span:after {
  width: 150px;
  left: 100%;
  margin-left: 15px;  
  border-color: grey;
}

.content{
  overflow: hidden;
  padding:10%;
  padding-top: 50px;

}

.box{
  width: 31%;
  padding: 1%;
  float: left;


}
.box img{
  display: block;
  margin-left: auto;
  margin-right: auto
}
.box_title{
  font-size: 24px;
  text-align: center;
}
.our_portfolio{
  background-color: #ff5959;
  padding-bottom: 10%;
  overflow:hidden;


}
.boxes_content{
  margin: 0 10%; 
  position: inherit;
 
}

.two_bx {
  float: left;
  margin-left: 10%;
  margin-right: 10%;
}

.two_bx img{
  margin: 5px 10px;
}

.small_box{
  float: left;
  }

.small_box img {
  margin: 5px 12px; 

  }
.two_bx img:hover{
  content: "Love Conquers All";
  width: 570px;
  height: 286px;
  background-color: #ff5959;
  opacity: 0.6;
}

.small_box img:hover{
  width: 271px;
  height: 286px;
  background-color: #ff5959;
  opacity: 0.6;
}



